<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DocumentVerificationPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.167.50.29:11080/DocumentVerificationService/DocumentVerificationServiceBean"
                binding="basicHttpBinding" bindingConfiguration="DocumentVerificationPortBinding"
                contract="DocumentValidatorService.DocumentVerificationEndpoint"
                name="DocumentVerificationPort" />
        </client>
    </system.serviceModel>
</configuration>