<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthNDecrypt" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2007/AuthNDecrypt.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAuthNDecrypt" contract="AuthNDecryptService.IAuthNDecrypt"
                name="BasicHttpBinding_IAuthNDecrypt" />
        </client>
    </system.serviceModel>
</configuration>